.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px; 

    /* shadow / button */

    box-shadow: 0px 4px 4px rgba(39, 17, 89, 0.24);
    border-radius: 2px;
}